:root {
  --primary: white;
  --secondary: black;
  --textAreaBackground: rgb(238, 238, 238);
  --textAreaTransition: rgb(223, 223, 223);
  --imgBorder: #ccc;
  --imgBorderBackground: #f0f0f0;
  --buttonDisabled: rgb(196, 228, 254);
}
body {
  margin: 0;
  height: 100vh;
  /* padding-bottom: 200px; */
  display: flex;
  justify-content: center;
  align-items: center;
  background: linear-gradient(135deg, midnightblue, deepskyblue);
  font-family: system-ui, sans-serif;
}
.boxes {
  display: flex;
  gap: 100px;
}
.text {
  display: flex;
  position: relative;
  flex-direction: column;
  background: var(--primary);
  color: var(--secondary);
  align-items: center;
  /* margin-left: 50px; */
  margin-top: 100px;
  gap: 20px;
  padding: 15px 30px 40px;
  height: 150px;
  /* justify-content: center; */
  border-radius: 15px;
  box-shadow: 0 8px 20px rgba(0, 0, 0, 0.8);
}
#text {
  display: flex;
  gap: 10px;
}
.img {
  display: flex;
  position: relative;
  flex-direction: column;
  background: var(--primary);
  color: var(--secondary);
  /* margin-left: 50px; */
  gap: 25px;
  padding: 15px 30px 85px;
  border-radius: 15px;
  box-shadow: 0 8px 20px rgba(0, 0, 0, 0.8);
}
#img {
  width: 150px;
  height: 150px;
  border-radius: 8px;
}
#imgBorder {
  width: 150px;
  height: 150px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
  border: 2px dashed var(--imgBorder);
  border-radius: 8px;
  background: var(--imgBorderBackground);
  justify-content: center;
  align-items: center;
}
button {
  border-radius: 5px;
  cursor: pointer;
  outline: none;
  border: 1px solid black;
  vertical-align: middle;
}
button:disabled {
  cursor: not-allowed;
  border: 1px darkgray solid;
}
.text button {
  background: rgb(55, 255, 112);
  height: 25px;
  align-self: flex-end;
}
button:enabled {
  transition: transform 0.3s ease, background-color 0.3s ease;
}
button:enabled:active {
  transition: transform 1ms ease;
  transform: scale(0.9); 
}
.text button:active {
  background: rgb(41, 228, 94);
}
textarea {
  resize: none;
  border-radius: 5px;
  /* outline: none; */
  outline: 1px solid black;
  background: var(--textAreaBackground);
  transition: background 0.4s ease;
  color: var(--secondary);
  border: none;
}

textarea:focus {
  outline: 2px solid rgb(34, 199, 80);
}
.img button {
  width: 145px;
  align-self: center;
}
.img button:disabled {
  background: var(--buttonDisabled);
}
.img button:enabled {
  background: rgb(84, 178, 255);
}
.img button:enabled:active {
  background: rgb(38, 157, 255);
}
#txtThemeBtn, #imgThemeBtn {
  width: 30px;
  height: 30px;
  position: absolute;
  top: 10px;
  right: 10px;
  padding: 0px;
  background: none;
  background-color: none;
  border: none;
  color: var(--secondary);
  transition: background 1s ease-out, transform 0.3s ease;
}
 #txtThemeBtn:active, #imgThemeBtn:active {
  background: rgba(97, 97, 97, 0.5);
  transition: background 1ms ease-in;
}
@media (max-width: 768px) {
  .boxes {
    display: flex;
    flex-direction: column;
    gap: 50px;
    margin-bottom: 200px;
  }
  h1 {
    font-size: medium;
  }
  .text {
    display: flex;
    flex-direction: column;
    background: var(--primary);
    color: var(--secondary);
    align-items: center;
    /* margin-left: 50px; */
    /* margin-top: 100px; */
    gap: 10px;
    padding: 10px 20px 10px;
    height: auto;
    /* justify-content: center; */
    border-radius: 15px;
    box-shadow: 0 8px 20px rgba(0, 0, 0, 0.8);
  }
  #text {
    display: flex;
    gap: 10px;
  }
  .img {
    display: flex;
    flex-direction: column;
    background: var(--primary);
    color: var(--secondary);
    text-align: center;
    /* margin-left: 50px; */
    gap: 25px;
    padding: 10px 20px 20px;
    border-radius: 15px;
    box-shadow: 0 8px 20px rgba(0, 0, 0, 0.8);
  }
  #img {
    max-width: 100px;
    max-height: 100px;
    border-radius: 8px;
  }
  #imgBorder {
    width: 100px;
    height: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
    border: 2px dashed var(--imgBorder);
    border-radius: 8px;
    background: var(--imgBorderBackground);
    justify-content: center;
    align-items: center;
  }
  /* #txtThemeBtn, #imgThemeBtn {
    padding: 0px;
  } */
}

@media (prefers-color-scheme: dark) {
  :root {
    --primary: rgb(34, 34, 34);
    --secondary: white;
    --textAreaBackground: rgb(57, 57, 57);
    --textAreaTransition: rgb(48, 48, 48);
    --imgBorder: #606060;
    --imgBorderBackground: #2a2a2a;
    --buttonDisabled: rgb(80, 131, 182);
  }
}

@media (hover: hover) {
  button:enabled:hover {
    transform: scale(1.1);
  }
  textarea:hover {
    outline: 1px solid rgb(68, 68, 68);
    background: var(--textAreaTransition);
  }
  button:enabled:active {
    transition: transform 1ms ease;
    transform: scale(0.9);
  }
  .text button:active {
    background: rgb(41, 228, 94);
  }
  .img button:enabled:active {
    background: rgb(38, 157, 255);
  }
}

.dark {
  --primary: rgb(34, 34, 34);
  --secondary: white;
  --textAreaBackground: rgb(57, 57, 57);
  --textAreaTransition: rgb(48, 48, 48);
  --imgBorder: #606060;
  --imgBorderBackground: #2a2a2a;
  --buttonDisabled: rgb(80, 131, 182);
}
.light {
  --primary: white;
  --secondary: black;
  --textAreaBackground: rgb(238, 238, 238);
  --textAreaTransition: rgb(223, 223, 223);
  --imgBorder: #ccc;
  --imgBorderBackground: #f0f0f0;
  --buttonDisabled: rgb(196, 228, 254);
}


svg {
  vertical-align: middle;
}